*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FBE4CA;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-btn{
 background-color: #443845;
 color: #FBE4CA;
 padding: 10px;
 border-radius: 30px;
 margin: 10px;
 width: 200px;
 height: 45px;
 cursor: pointer;
    position: relative;

}
.title{
    margin: 15px;
}
.main-btn a{
    position: absolute;
    left: 25px;
 text-decoration: none;
 color:#F7F8FC;
}
.form form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form form input{
    margin: 3px;
    width: 400px;
    height: 35px;
    border-radius:20px;
    border:none;
    color: #FBE4CA;
    background-color:#443845;
    padding: 10px;
    outline: none;
}
.main-btn{
    position: relative;
    width: 100px;
    border: none;
}
.main-btn a{
    position: absolute;
    left: 30px;
    top:30%;
}